<a href="https://colab.research.google.com/github/MuhammedFazil313/makaan.com-web-scrapping/blob/main/makaan_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [3]:
base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

In [4]:
ow = []
stype = []
bhk = []
p = []
s = []
loc = []
st = []
pps = []

In [6]:
for i in range(1,51):
  time.sleep(3)   # to give a pause between each requests
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('div',attrs={'class':'seller-info'})
  for j in ow_info:
    ow.append(j.a.span.text)
  
  #seller type
  s_typ = soup.findAll('span',attrs={'class':'seller-type'})
  for j in s_typ:
    stype.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

In [7]:
print('ow = ',len(ow))
print('st = ',len(stype))
print('bhk = ',len(bhk))
print('p = ',len(p))
print('s = ',len(s))
print('loc = ',len(loc))
print('st = ',len(st))
print('pps = ',len(pps))

ow =  2000
st =  2000
bhk =  2000
p =  2000
s =  2000
loc =  2000
st =  2000
pps =  2000

In [8]:
data = pd.DataFrame({'SELLER INFO':ow,
                     'SELLER TYPE':stype,
                     'BHK':bhk,
                     'PRICE':p,
                     'Area in sqft':s,
                     'LOCATION':loc,
                     'STATUS':st,
                     'PRICE PER SQ.FT':pps})
data

                  SELLER INFO  ... PRICE PER SQ.FT
0                        user  ...   3,200 / sq ft
1                Riddhi Group  ...   6,000 / sq ft
2          Swamaan Developers  ...   5,600 / sq ft
3     Ramireddy Constructions  ...   8,184 / sq ft
4        Anuhar Homes Pvt Ltd  ...   5,700 / sq ft
...                       ...  ...             ...
1995                   seller  ...   4,645 / sq ft
1996                   seller  ...   7,104 / sq ft
1997                   seller  ...   4,000 / sq ft
1998                   seller  ...   2,735 / sq ft
1999                   seller  ...   1,065 / sq ft

[2000 rows x 8 columns]

In [9]:
data.to_csv('50 pages of real estate details from makaan.csv',index=False)